@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

img {
    color: black;
}

body {
    background-image: url(background.svg);
}

nav {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 40px 72px;
}

a {
    text-decoration: none;
    color: #C4C4CC;
}

a:hover{
    font-weight: bold;
    color: white;
}